[mysqld]
ssl_ca=/certs/ca.pem
ssl_cert=/certs/server-cert.pem
ssl_key=/certs/server-key.pem
bind-address=0.0.0.0

# Forbid non-ssl connections
require_secure_transport=ON

# disable secure FILE option, as it is painful with docker
secure_file_priv=NULL
